<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding Cars</title>
  </head>
  <body>
    <h1>Adding a New Cars!</h1>
    <form action="/cars" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" /> <br>

        <label for="name">Company:</label>
        <input type="text" name="company" id="name" /> <br>

        <label for="name">Model:</label>
        <input type="number" name="model" id="name" /> <br>

        <label for="name">Price:</label>
        <input type="number" name="price" id="name" /> <br>
    
        <button type="submit">Add Car</button> <br>
      </form>
      <a href="/">Home</a>
  </body>
</html>